    <table width="100%">
        <tr>
            <td>
                <strong><%= author %></strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/avatar-body.png" width="100px" />
            </td>
        </tr>
    </table>
